@import '../node_modules/mini.css/dist/mini-default.min.css';
@import "./components/style.css";
@import "./utils/style.css";

html, body, #app, #app>div {
    height: 100%;
    width: 100%;
}

#root {
    width: 100%;
    height: 100%;
}